//ADMIN PANEL
.admin-panel
  display: flex
  flex-direction: column
  align-items: center
  gap: 1.5rem
  padding-top: 2rem
  text-align: center

.admin-panel__user
  font-weight: 700

.admin-panel__links
  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem
  .button
    min-width: 12rem
    padding: 0.7rem 1.5rem
    background-color: black
    color: white
    font-weight: 800
    border-radius: 4px
    text-align: center
  .button:hover
    color: var(--secundario)