.services-mobile
  display: flex
  flex-direction: column
  text-align: center
  gap: 1.2rem
  margin-bottom: 1rem
  padding-bottom: 2rem
.service
  display: flex
  flex-direction: column
  align-items: center
  gap: 0.3rem
  figure
    width: 3rem
    height: 3rem
  a
    font-weight: 700
    font-size: 1.2rem
    cursor: pointer
  p
    width: 30ch

.services-desktop
  display: none  

@media (min-width: 800px)
  .services-mobile
    padding-bottom: 0rem
    gap: 1.5rem
    .service
      gap: 0
      figure 
        width: 2.4rem
        height: 2.4rem
      a
        font-size: 1.3rem
      p
        font-size: 1.2rem

@media (min-width: 1000px)
  .services-mobile
    display: none

  .services-desktop
    padding-top: 1rem
    display: flex
    flex-direction: column
    align-items: center
    gap: 1.6rem
    padding-bottom: 2.4rem
    .grid-services
      display: grid
      grid-template-columns: 1fr 1fr
      row-gap: 2rem
      column-gap: 3.5rem
    .service
      figure
        width: 3.6rem
        height: 3.6rem
      a
        font-size: 1.4rem
      p
        text-align: center
        width: 26ch

//el padding de la clase home para desktop es de 0, para que la portada entre sin border

@media (min-width: 1000px) and (max-width: 1600px)
  .services-desktop
    .service
      figure
        width: 3rem
        height: 3rem
